.arrow {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $color-deep-blue;
    
    margin-top: -3.5%;
    margin-left: 80%;

  
    height: 0;
    width: 0;
    align-content: right;
  }